 /*PORTFOLIO.CSS*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





 /*PROPRIETE DU HEADER*/ 


header {
  background-color: #111;
  display: flex;
  align-items: center; 
  padding: 0 15px;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: black;
}


nav {
  flex: 1;
}

nav ul {
  list-style: none;              
  display: flex;                 
  justify-content: flex-end;
  gap: 20px;                    
}


nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 15px;
  transition: 0.3s;              
}


nav ul li a:hover {
  background-color: #444;
  border-radius: 3px;
}


html {
    scroll-behavior: smooth;
}












 /*PROPRIETE GENERAL DU BODY*/


html, body {
  height: 100%;
  margin: 0;
}


body {
  font-family: montserrat ;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

main {
  box-sizing: border-box;
  width: 100%;
}

section, article {
    border-radius: 8px;
}

img {
  border: 2px solid black
}


p {
padding: 15px;
}

body {
  font-family: 'Inter', sans-serif;
}
h1, h2 {
  font-family: 'Playfair Display', serif;
  padding: 10px
}




 /*PROPRIETE DE L'ACCUEIL*/


#Pageaccueil {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 60px;
  background-image:
  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)),
  url("image/code.jpg");
  background-size: cover;
  background-color: #F7FDFF;
}

#texte {
  text-align: center;
  font-size: 120%;
  background-color: rgba(235, 238, 240, 0.885);
  padding: 30px;
  border-radius: 10px;
}


#titre {
  font-size: 160%;
}










 /*PROPRIETE DE APROPOS*/


#Apropos {
  box-sizing: border-box;
  width: 100%;
  padding: 60px;
  background-color: #eef2f5;
}






 /*PROPRIETE DE COMP*/


#Competences {
  box-sizing: border-box;
  width: 100%;
  padding: 60px;
  background-color: #f5f8fc
}


#Competences ul {
  list-style: none;
  padding: 0;
}

#Competences li {
  margin-bottom: 18px;
}

#Competences li img {
  vertical-align: middle;
  margin-right: 18px;
}



 /*PROPRIETE D'EXP*/


#Experience {
  box-sizing: border-box;
  width: 100%;
  background-color: #eef2f5;
  padding: 60px;
  
}

#Pres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  text-align: center;
}

#Experience img {
  width: 450px;
  height: 450px;
  object-fit: cover; 
  margin: 0 10px; 
}

.image-container {
  display: flex;           /* Active le mode flex pour le conteneur */
  justify-content: center; /* Centre les images horizontalement */
  flex-wrap: wrap;         /* Passe à la ligne si l’écran est trop petit */
  gap: 20px;               /* Espace entre les images */
  margin-bottom: 20px;     /* Petit espace sous les images */
}






 /*PROPRIETE DE ZONE DE CONTACT*/


#Contact {
  box-sizing: border-box;
  width: 100%;
  background-color: #f5f8fc;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;           
  gap: 40px;
  padding: 60px 100px;
}

#info {
  width: 55%;
}

aside {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%
}